server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      forwarded-headers-strategy: native
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: patient-service
              uri: lb://PATIENT-SERVICE
              predicates:
                - Path=/patient/**
              filters:
                - RewritePath=/patient/(?<segment>.*), /api/v1/patients/${segment}

            - id: doctor-service
              uri: lb://DOCTOR-SERVICE
              predicates:
                - Path=/doctor/**
              filters:
                - RewritePath=/doctor/(?<segment>.*), /api/v1/doctors/${segment}

            - id: appointment-service
              uri: lb://APPOINTMENT-SERVICE
              predicates:
                - Path=/appointment/**
              filters:
                - RewritePath=/appointment/(?<segment>.*), /api/v1/appointments/${segment}

            - id: billing-service
              uri: lb://BILLING-SERVICE
              predicates:
                - Path=/bill/**
              filters:
                - RewritePath=/bill/(?<segment>.*), /api/v1/bills/${segment}

            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/auth/**
              filters:
                - RewritePath=/auth/(?<segment>.*), /api/v1/auth/${segment}

            - id: session-service
              uri: lb://SESSION-SERVICE
              predicates:
                - Path=/session/**
              filters:
                - RewritePath=/session/(?<segment>.*), /api/v1/sessions/${segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
